<h1>login</h1>
<form action="/login" method="post">
  <div>
    <input type="text" name="email" placeholder="Email">
  </div>
  <div>
    <input type="text" name="senha" placeholder="Senha">
  </div>
  <div>
    <input type="submit" name="login" value="Login">
  </div>
</form>